
@media all and (max-width: 700px){
    button#menu {
        display: block;
    }
	nav#superior {
        display: none;
    }
	nav#superior ul {
        flex-direction: column;
        width: 320px;
        height: 224px;
        font-family: "IBMPlexMono";
    }
    body{
        max-width: 320px;
    }

    .mas{
        width: 320px;
        height: 303px;
    } 
}

*{
    padding: 0px;
    margin: 0px;
}




button#menu {
    display: none;
}

button#menu:focus + nav#superior {
    display: block;
}

nav#superior ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav#superior ul a {
    display: block;
    width: 87px;
    text-decoration: none;
    border: none;
    padding:0px;
    text-align: center;
    color:#060A24;
    font-family: "IBMPlexMono";
}

.toplogo{
        width: 36px;
        height: 36px;
        margin-left: 100px;
        margin-top: 22px;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    font-family: "IBMPlexMono";
}

.mas{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    width: 1440px;
    height: 249px;
}

.intro{
    display: flex;
    height: 24px;
}

.extframe{
    width: 1440px;
    height: 1042.6px;
    margin-top: 0px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 90%, 0% 100%);  
}

.frames{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 72px;
}

.fr{
    width: 584px;
    height: 232px;
    margin-left: 100px;
    border: 0px;
}

.frd{
    width: 584px;
    height: 232px;
    margin-right: 100px;
    border: 0px;
}

.cal{
    display: flex;
    flex-direction: column;
    height: 204px;
    width: 464px;
    margin-left: 64px;
}

.logos{
    width: 260px;
    height: 130px;   
}

.prefut{
    width: 1440px;
    height: 518px;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 8%, 100% 0%, 100% 90%, 0% 100%);
    z-index: -1;
}

.where{
    display: flex;
    position: absolute;
    margin-top: 1323px;
}

.invitados{
    margin-top: 556px;
}

.prefooter{
    height:518px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    clip-path: polygon(0 27%, 100% 0, 100% 100%, 0% 100%);
}

.footer{
    height: 95px;
}


#menu{
    display:none;
}

#nos{
    margin-left:858px;  
}

#noso{
    margin-left: 48px;
}


#img{
    position: relative;
    margin-top: 0px;
    margin-left: 200px;
    height: 660px;
    width: 457,6;
}

#cal{
    display: flex;
    flex-direction: column;
    margin-left: 62px;
    margin-top: 0px;
}


#eptit{
    height: 62px;
    width: 209px;
    padding-left: 200px;
    padding-top: 186px;
    margin-top: 0px;
    margin-bottom: 26px;
    font-family: "IBMPlexSans";
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 0;
}

#hello{
    font-size: 64px;
    margin-left: 199px;
    margin-top:0px;
    margin-bottom:0px;
    padding-right: 6px;
    font-family: "IBM Plex Sans";
    letter-spacing: 0;
    text-align: center;
    width: 152px;
    height: 84px;
}

#world{
    font-size: 64px;
    width: 179px;
    height: 84px;
    margin:0px;
    text-decoration:line-through;
    align-content: right;
    font-family: "IBM Plex Sans";
    letter-spacing: 0;
    text-align: center;
    padding-left: 3px;
}

#pale{
    position: relative;
    display: flex;
    font-size: 64px;
    height: 84px;
    width: 391px;
    margin: 0px;
    font-family: "IBM Plex Sans";
    letter-spacing: 0;
    padding-left: 9px;
}

#dot{
    font-family: "IBM Plex Sans";
    font-size: 64px;
    color: #0000EC;
    margin-right: 500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#parrafo{
    font-size:16px;
    height: 48px;
    width: 628px;
    margin-left: 200px;
    margin-bottom: 0px;
    margin-top: 59px;
    font-family: "IBMPlexMono";
}

#bot{
    margin-left: 200px;
    border: 1px;
    width: 226px;
    height: 56px;
    background-color:rgba(0,243,187,1);
    font-family: "IBMPlexMono-Medium";
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-bottom: 5px;
    margin-top: 56px;
}

#bot:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

#de{
    font-family: "IBMPlexSans";
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-top: 200px;  
}

#p{
    font-family: "IBMPlexMono";
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0px;
}

#inv{
    width: 481px;
    height: 62px;
    font-family: "IBMPlexSans";
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    margin-left: 200px;
    margin-bottom: 36px;
}

#imgs{
    display: flex;
    flex-direction: row;
}

#c{
    height: 364px;
    width: 480px;
}

#some{
    width: 586px;
    height: 62px;
    font-size: 48px;
    font-family: "IBMPlexSans";
    margin-left: 200px;
    margin-top: 64px;
    margin-bottom: 56px;
}

#logos{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

#log{
    margin-left: 78px;
}

#txt{
    display: flex;
    font-family: "IBMPlexSans-SemiBold";
}

#texto{
    margin-left: 220px;
    width: 220px;
    height: 32px;
    font-size: 24px;
    font-family: "IBMPlexSans-SemiBold";
    letter-spacing: 0;
    text-align: center;
}

#textos{
    margin-left: 40px;
    font-size: 24px;
    font-family: "IBMPlexSans-SemiBold";
    letter-spacing: 0;
    text-align: center;
    width: 220px;
    height: 64px;
}

#last{
    width: 692px;
    height: 62px;
    font-family: "IBMPlexSans";
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-left: 374px;
    margin-top: 213px;
}

#lbot{
    margin-left: 547px;
    width: 345px;
    height: 56px;
    background-color:rgba(0,243,187,1);
    font-family: "IBMPlexMono-Medium";
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
    margin-bottom: 151px;
    margin-top: 36px;
    margin-right: 548px;
    border: none;
}

#queres{
    width: 692px;
    height: 62px;
    font-family: "IBMPlexSans";
    font-size: 48px;
    color: #FFFFFF;
    margin-left: 374px;
    margin-top: 213px;
}

#ubot{
    margin-right: 547px;
    margin-top: 36px;
    margin-left: 547px;
    border: 1px;
    width: 345px;
    height: 56px;
    background-color:rgba(0,243,187,1);
    font-family: "IBMPlexMono-Medium";
    font-size: 18px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
}

#ubot:hover{
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

#copy{
    margin-left: 100px;
    margin-top: 36px;
    width: 269px;
    height: 28px;
}

#spotify{
    width: 18px;
    height: 24px;
    margin-left: 1103px;
}

#lgs{
    margin-left: 36px;
}


